<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jonas.mybatis.mapper.UserMapper">

    <resultMap type="top.jonas.mybatis.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--
    在mapper中配置了这两个标签中的任何一个，表示打开了二级缓存，具体区别如下：
    1.<cache>标签表示此mapper.xml 打开了二级缓存，
    在解析此mapper.xml文件的时候，对指定 namespace 创建对应的Cache对象作为二级缓存，默认为PerpetualCache对象
    此处的namespace为<mapper> 标签中的 namespace.
    2.<cache-ref namespace=""/> 表示对标签中指定 namespace 值引用的 Cache 对象作为其二级缓存.
    3.<select> 查询标签中也可以指定是否打开二级缓存，例如：<select id="queryById" resultMap="UserMap" useCache="true">
    <select>标签中的 useCache 默认值为 true, 即默认打开二级缓存，默认会把查询结果放到二级缓存
    <cache></cache>
    <cache-ref namespace=""/>
    -->
    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          id, username, password, department, phone, email, status, create_date, remark
        from test_mybatis.user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          id, username, password, department, phone, email, status, create_date, remark
        from test_mybatis.user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
          id, username, password, department, phone, email, status, create_date, remark
        from test_mybatis.user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into test_mybatis.user(username, password, department, phone, email, status, create_date, remark)
        values (#{username}, #{password}, #{department}, #{phone}, #{email}, #{status}, #{createDate}, #{remark})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update test_mybatis.user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="department != null and department != ''">
                department = #{department},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from test_mybatis.user where id = #{id}
    </delete>

</mapper>
